<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.draft_first_aid">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.DRAFTFIRSTAID">
        <activity android:name=".FWork6"></activity>
        <activity android:name=".FWork5" />
        <activity android:name=".FWork4" />
        <activity android:name=".FWork3" />
        <activity android:name=".FWork2" />
        <activity android:name=".FWork1" />
        <activity android:name=".FWork" />
        <activity android:name=".CConditions11" />
        <activity android:name=".CConditions10" />
        <activity android:name=".CConditions9" />
        <activity android:name=".CConditions8" />
        <activity android:name=".CConditions7" />
        <activity android:name=".CConditions6" />
        <activity android:name=".CConditions5" />
        <activity android:name=".CConditions4" />
        <activity android:name=".CConditions3" />
        <activity android:name=".CConditions2" />
        <activity android:name=".CConditions1" />
        <activity android:name=".CConditions" />
        <activity android:name=".ATips4" />
        <activity android:name=".ATips3" />
        <activity android:name=".ATips2" />
        <activity android:name=".ATips1" />
        <activity android:name=".ATips" />
        <activity android:name=".ORoad4" />
        <activity android:name=".ORoad3" />
        <activity android:name=".ORoad2" />
        <activity android:name=".ORoad1" />
        <activity android:name=".ORoad" />
        <activity android:name=".SIncidents8" />
        <activity android:name=".SIncidents7" />
        <activity android:name=".SIncidents6" />
        <activity android:name=".SIncidents5" />
        <activity android:name=".SIncidents4" />
        <activity android:name=".SIncidents3" />
        <activity android:name=".SIncidents2" />
        <activity android:name=".SIncidents1" />
        <activity android:name=".SIncidents" />
        <activity android:name=".AEvents8" />
        <activity android:name=".AEvents7" />
        <activity android:name=".AEvents6" />
        <activity android:name=".AEvents5" />
        <activity android:name=".AEvents4" />
        <activity android:name=".AEvents3" />
        <activity android:name=".AEvents2" />
        <activity android:name=".AEvents1" />
        <activity android:name=".AEvents" />
        <activity android:name=".EResponse8" />
        <activity android:name=".EResponse7" />
        <activity android:name=".EResponse6" />
        <activity android:name=".EResponse5" />
        <activity android:name=".EResponse4" />
        <activity android:name=".EResponse3" />
        <activity android:name=".EResponse2" />
        <activity android:name=".EResponse1" />
        <activity android:name=".IHome8" />
        <activity android:name=".IHome7" />
        <activity android:name=".IHome6" />
        <activity android:name=".IHome5" />
        <activity android:name=".IHome4" />
        <activity android:name=".IHome3" />
        <activity android:name=".IHome2" />
        <activity android:name=".IHome1" />
        <activity android:name=".faid6" />
        <activity android:name=".FAid5" />
        <activity android:name=".FAid4" />
        <activity android:name=".FAid3" />
        <activity android:name=".FAid2" />
        <activity android:name=".FAid1" />
        <activity android:name=".EResponse" />
        <activity android:name=".InHome" />
        <activity android:name=".FirstAid" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>